<div class ="jumbotron">
  <h2>给出您的评论，给别人以借鉴</h2>
  <h3>Explore the favorite diners, pastry shops, and eateries in your community.
  <br>Leave reviews and ratings for your fellow foodies.</h3>
</div>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Address</th>
      <th>Rent</th>
      <th>Link</th>
      <% if user_signed_in? && current_user.admin? %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= image_tag house.image.url(:thumb) %></td>
        <td><%= link_to house.name, house %></td>
        <td><%= house.address %></td>
        <td><%= house.rent %></td>
        <td><%= link_to house.link, house.link %></td>
        <% if user_signed_in? && current_user.admin? %>
          <td><%= link_to 'Show', house, class: "btn btn-link" %></td>
          <td><%= link_to 'Edit', edit_house_path(house), class: "btn btn-link" %></td>
          <td><%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'New House', new_house_path %>
<% end %>
