<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Address</th>
      <th>Rent</th>
      <th>Link</th>
      <% if user_signed_in? %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= image_tag house.image.url(:thumb) %></td>
        <td><%= link_to house.name, house %></td>
        <td><%= house.address %></td>
        <td><%= house.rent %></td>
        <td><%= link_to house.link, house.link %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Show', house, class: "btn btn-link" %></td>
          <td><%= link_to 'Edit', edit_house_path(house), class: "btn btn-link" %></td>
          <td><%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>