<div class="row">
  <div class="col-md-3">
    <%= image_tag @house.image.url(:medium) %>

    <h2>
      <%= @house.name %>
    </h2>

    <p>
      <strong>Address:</strong>
      <%= @house.address %>
    </p>

    <p>
      <strong>Rent:</strong>
      <%= @house.rent %>
    </p>


    <p>
      <strong>Link:</strong>
      <%= link_to @house.link, @house.link %>
    </p>

    <%= link_to "Write Review", new_house_review_path(@house), class: "btn btn-primary" %>
  </div>
   
  <div class="col-md-9">
    <% if @reviews.blank? %>
      <h3>No reviews yet. Be the first to write one!</h3>
    <% else %>
      <% @reviews.each do |review| %>
      <table>
        <thead>
          <tr>
            <th class="col-md-4"></th>
            <th class="col-md-8"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <h4>
                <%= review.user.name %>
              </h4>
              <p><%= review.created_at.strftime("%-m/%-d/%-y") %></p>
            </td>
            <td>
            
              <div class="star-rating" data-score= <%= review.rating %> ></div>
              <p><%= review.comment %></p>

              <% if user_signed_in? %>
                <% if (review.user == current_user) || (current_user.admin?) %>
                  <%= link_to "Edit", edit_house_review_path(@house, review) %>
                  <%= link_to "Delete", house_review_path(@house, review), method: :delete %>
                <% end %>
              <% end %>
            
            </td>
          </tr>
        </tbody>
      </table>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_house_path(@house), class: "btn btn-link" %> |
<%= link_to 'Back', houses_path, class: "btn btn-link" %>

<script>
  $('.star-rating').raty();
</script>