<h1>Listing items</h1>


<div id="items">
  <% @items.each do |item| %>
    <div class="box">
      <%= image_tag item.photo.url(:medium) %>
      <%= item.name %>
      <%= item.price %>
      <%= item.description %>
      <%= item.user.name if item.user %>
      <%= link_to 'Show', item_path(item) %>
      <% if item.user == current_user %> <%= link_to 'Edit', edit_item_path(item) %> <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %> <% end %>

    </div>
  <% end %>
</div>


<br>

<% if user_signed_in? %>
  <%= link_to 'New Item', new_item_path, class: "btn btn-link" %>
<% end %>
