<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag @item.photo.url %>
    </div>
  </div>
  <div class="col-md-6">
    <h3><%= @item.name %></h3>
    <p>¥<%= @item.price %></p>
    <p><%= @item.description %></p>
  </div>
<div>

<br />

<% if current_user == @item.user %>
  <%= link_to '编辑', edit_item_path(@item), class: "btn btn-link" %> |
<% end %>
<%= link_to '返回', item_path, class: "btn btn-link" %>
